@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: #F5F4FA;
  color: #212121;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.15;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Убрал точки со списков ul */
li {
  list-style: none;
  padding: 0;
}

/* Убрал подчёркивание со ссылок */
a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  min-height: 60px;
  background-color: #F5F4FA;
  border-bottom: 1px solid #ECECEC;
}

.header__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile__button.is-open .icon-cross {
  display: block;
}
.mobile__button.is-open .icon-menu {
  display: none;
}

.mobile__icon {
  z-index: 100;
}

.icon-cross {
  display: none;
}

.mobile-menu__all-pages {
  position: relative;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
}

.mobile-menu__page {
  position: relative;
  background-color: #3e3f46;
  padding: 15px;
  z-index: var(--i);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mobile-menu__page:hover, .mobile-menu__page:focus {
  background-color: #00a0e3;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.mobile-menu__page:hover .mobile-menu__link, .mobile-menu__page:focus .mobile-menu__link {
  color: white;
}
.mobile-menu__page::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background-color: #3e3f46;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mobile-menu__page:hover::before, .mobile-menu__page:focus::before {
  background-color: #00a0e3;
}
.mobile-menu__page:hover::after, .mobile-menu__page:focus::after {
  background-color: #00a0e3;
}
.mobile-menu__page::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #3e3f46;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mobile-menu__page:last-child::after {
  -webkit-box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.05em;
  color: #00a0e3;
  display: block;
  text-transform: uppercase;
}

.mobile-menu {
  display: none;
}
.mobile-menu.is-open {
  z-index: 10;
  position: fixed;
  background-color: #d4edfc;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 48px 40px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.2)), to(rgba(47, 48, 58, 0.2))), url("../images/img/hero/hero2.webp");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)), url("../images/img/hero/hero2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1440px;
  width: 100%;
  height: 31vw;
  margin: 60px auto 0;
}

.hero__container {
  text-align: center;
}

.hero__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.logo-color1 {
  color: #ffed00;
}

.logo-color2 {
  color: #00a0e3;
}

.works__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.works__main-title {
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #515151;
}

.works__list {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.works__title {
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #515151;
}

.footer {
  background-color: #d4edfc;
  padding: 30px 0;
  text-align: center;
}

.footer__li:last-child {
  margin-bottom: 15px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
  color: #00a0e3;
}

.footer__icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.footer__icon--mail {
  width: 24px;
  height: 18px;
}

.footer__icon--phone {
  width: 13px;
  height: 21px;
  margin-right: 30px;
}

.footer__icon--instagram {
  fill: rgb(161, 46, 109);
}/*# sourceMappingURL=main.css.map */