.header__box{
    display: flex;
}
.logo-icon{
    width: 110px;
    height: 55px;
}
.h2-title{
    font-weight: 700;
    font-size: 30px;

    padding: 20px 10px;
    text-align: center;
}

// product-page

.product-page{
    margin-top: 60px;
    background-color: $logo-third-color;
}
.product-page__title{
    text-align: center;
    padding: 15px 0;

    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: $text-title-color;
}
.product-page__img{
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: contain;
    margin: 0 auto 15px;
}
.product-page__text{
    font-size: 18px;
    line-height: 28px;
}
.product-page__title-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}