body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: black;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.15;
    // padding-top: 60px;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato; */
}