body {
    font-family: 'Roboto', sans-serif;
    background-color: $light-bgc;
    color: $text-main-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.15;
    // padding-top: 60px;
}
.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // outline: 2px solid tomato;
}
/* Убрал точки со списков ul */
li {
    list-style: none;
    padding: 0;
}
/* Убрал подчёркивание со ссылок */
a {
    text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
}
// отступ первой строки
p{
    text-indent: 15px;
}

ul {
    padding-inline-start: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}