.all-products{
    margin-top: 60px;
    display: flex;
    background-color: $logo-third-color;
}
.all-products__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.all-products__title{
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
    color: #515151;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }
}
.all-products__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-products__img{
    width: 120px;
    height: auto;

    @media screen and (min-width: $tablet) {
        width: 170px;
    }
}