.hero{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark-bgc;
    max-width: 1600px;
    width: 100%;
    padding: 118px 45px;
    text-align: center;
    margin: 60px auto 0;

    background-image: $lg, url('../images/img/hero/hero2.webp');
}
