.mobile__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}
.mobile__icon{
    z-index: 100;
}
.icon-cross {
    display: none;
}

.mobile-menu {
    display: none;

    &.is-open {
        z-index: 10;
        position: fixed;
        background-color: $logo-third-color;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        font-weight: 500;
        letter-spacing: 0.02em;

        padding: 48px 40px;
    }
}
.mobile-menu__link{
    font-weight: 700;
    font-size: 26px;
    color: $logo-second-color;
}