.clients{
    text-align: center;
    margin: 60px auto 10px;
}
.clients__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}
.clients__li {
    width: calc((100% - 30px) / 2);
    
    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 3);
    }
}